body {
    font-family: Arial;
    background-color: #f4f9f4;
    text-align: center;
}

h1 {
    color: green;
}

.form-container {
    margin-top: 30px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

#message {
    margin-top: 15px;
    font-weight: bold;
}
